.bg-custom {
    background-color: antiquewhite;
}

.imageProduct {
    height: 300px;
    width: 100%;
}

div#slider i {
    font-size: 3em;
}

div#slider i:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.2);
}

div#imageSlider > img {
    width: 400px;
    height: 300px;
}

/* #containerDots {
    padding: 25px;
} */

.dot {
    width: 20px;
    height: 20px;
}

.dot:hover {
    cursor: pointer;
}

.currentDot {
    background-color: cyan !important;
}